<div id="wrapper">
    <h1>Welcome Back</h1>
    <div id="side-wrapper">
        <object id="logo" type="image/svg+xml" data="assets/logo-no-background.svg" width="200" height="40">
            <img src="assets/logo-no-background.png" alt="Logo" width="200" height="50">
        </object>
    </div>
    <div id="device-wrapper">
        <h2>Devices</h2>
        <mat-list role="list" *ngFor="let plug of plugs">
            <mat-list-item>{{plug.name}}</mat-list-item>
            <mat-list-item>{{plug.state}}</mat-list-item>
            <mat-list-item>{{plug.schedule}}</mat-list-item>
            <mat-list-item>{{plug.powerconsumption}} kWh</mat-list-item>
            <mat-list-item>{{plug.duration.secs}} seconds</mat-list-item>
        </mat-list>
    </div>
</div>